pkgbase = warsaw
	pkgver = 1.3.0
	pkgrel = 1
	url = https://internetbanking.caixa.gov.br/sinbc/nb/login/redirecionaDispSeguranca
	arch = x86_64
	license = unknown
	depends = openssl>=1.0
	depends = curl
	depends = nss
	provides = warsaw
	source = https://cloud.gastecnologia.com.br/cef/warsaw/install/GBPCEFwr64.deb
	source = warsaw.service
	md5sums = 723eb9b0a3a3f514b8c1f6b3dcc958eb
	md5sums = d91d3c6778de9dc5aea73e97a2d365bb

pkgname = warsaw

